<ion-content>
  <ion-slides pager="true" [options]="slideOpts" class="slide-menu-options">
    <ion-slide class="slide-section">
      <img src="../../../assets/img/menu-main/review.svg" class="slide-icon">
      <h2>Mais bem avaliados</h2>
      <p>Veja a lista de filmes e mais avaliados entre os usúarios</p>
      <a routerLink="/topRated" class="slide-btn">Ir</a>
    </ion-slide>
    <ion-slide class="slide-section">
      <img src="../../../assets/img/menu-main/recconmmendations.svg" class="slide-icon">
      <h2>Recomendações</h2>
      <p>Veja os filmes que os usúarios estão recomendando</p>
      <a  routerLink="/recommendations" class="slide-btn">Ir</a>
    </ion-slide>
    <ion-slide class="slide-section">
      <img src="../../../assets/img/menu-main/popular.svg" class="slide-icon">
      <h2>Populares</h2>
      <p>Veja a lista de filmes mais populares entre os Usuarios</p>
      <a class="slide-btn">Ir</a>
    </ion-slide>
  </ion-slides>
</ion-content>